@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
:root {
    --verde-principal: #546f01;
    --hover-verde: #a4bc00;
    --beige-suave: #d8cabb;
    --madera: #a88f6b;
    --blanco: #ffffff;
    --negro: #000000;
}

* {
    font-family: 'DM Sans', sans-serif;
}


  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

/* --- Ícono del ojo --- */
.toggle-password {
    position: absolute;
    top: 65%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    /*color: #6c757d;  Gris Bootstrap */
    color: var(--madera);
    z-index: 2;
  }
   
  /* --- Campo de error --- */
  /*.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
  }*/

#modal-mensaje{
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#modal-cuerpo{
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    text-align: center;
}

#modal-animacion {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}


#modal-texto{
    margin: 0;
}

.error{
    color: red;
}


.contenido-perfil{
    width: 90%;             /* ancho flexible */
    max-width: 30rem; 
    background-color: #a88f6b;
    border-radius: 30px;
    margin: 6rem auto;
}

#formCambiarContraseña{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem 2rem 2rem;
    margin: 0%;
    gap: 0.5rem;
    
}

.form-control{
    border: none;
    background-color: #d8cabb;
    border: 30px;
}

.btn{
    background-color: #181f0d;
    border: none;
}

.btn:hover{
    background-color: var(--verde-principal) ;
}

footer {
    margin-top: auto;
  }