/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
    /*border: 1px solid red;*/
}
/* Modal Animacion */
#modal-mensaje{
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#modal-cuerpo{
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    text-align: center;
}

#modal-animacion {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}


#modal-texto{
    margin: 0;
}

/* Variables */
:root{
    --black: #181f0d;
    --primary-color: #546f01;
    --secondary-color: #a4bc00;
    --background-color: #d8cabb;
    --buttons-color: #a88f6b;
}

html {
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
    /* Ocultar la barra lateral */
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    color: var(--black);
    background-color: var(--background-color);
    font-family: "DM Sans";
    height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex: 1;
    align-items: center;
}

a:visited { /* Elimina el color del enlace al ser clickeado */
    color: inherit;
}

/* Header-NavBar */

.navbar-brand{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    height: 50px;
    margin: 0%;
    padding: 0%;
}
.navbar-brand img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    transition: all 0.3s ease;
    
}

.navbar-brand img:hover{
    transform: scale(1.1);
}

.navbar{
    padding: 0;
    display: flex;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .container-fluid {
    background-color: #546f01;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: white !important;; 
}

.navbar-nav .nav-link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-nav li a {
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar-nav li a:hover {
    background-color: var(--secondary-color);
    color: white;
    transform: scale(1.05);
}

.navbar-collapse{
    z-index: 1000;
}

.dropdown-menu {
    background-color: #546f01;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 120px;
    min-width: unset; /* 🔥 Este es clave para permitir que baje */
    width: 130px;    

}

.dropdown-item {
    white-space: normal;
   
    word-break: break-word; 
  }
  

.container-fluid {
    z-index: 1000;
}


/* Product-Detail */

/* Background */

#contenedor-detalle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  
}

/*.carrusel {
    position: relative;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    margin: auto;
  }*/
  .carrusel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Limita el ancho máximo */
    aspect-ratio: 3 / 2.5;
    overflow: hidden;
    margin: auto;
    box-sizing: border-box;
  }
  
  
  .carrusel-item {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .carrusel-item.visible {
    opacity: 1;
  }
  
  .carrusel-item img {
    width: 100%;
    height: 100%;        /* o el alto que desees para el carrusel */
    object-fit: contain;    /* Llenará el área, recortando lo necesario */
    object-position: center; /* Centra la parte recortada */
  }


  .carrusel-prev, .carrusel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    background-color: var(--background-color);
    color: var(--buttons-color);
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 30%;
  }
  
  .carrusel-prev {
    left: 10px;
  }
  
  .carrusel-next {
    right: 10px;
  }
  
  .carrusel-prev:hover, .carrusel-next:hover {
    color: var(--black);
  }
  
  


#contenedor-decoracion {
   width: 50%;       
}


#contenedor-info {     
    width: 50%;        
    padding: 1rem;          
    box-sizing: border-box; 
}


#producto-cantidad{
    margin: 25px 0 25px 0;
}


#botones-cantidad {
    display: flex;
    align-items: center;
}

#signo-menor {
    height: 50px;
    width: 78px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 32px;
    background-color: rgba(84, 111, 1, 0.25);
    cursor: pointer;
    transition: 0.5s ease;
}

#signo-mayor {
    height: 50px;
    width: 78px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 32px;
    background-color: rgba(84, 111, 1, 0.25);
    cursor: pointer;
    transition: 0.5s ease;
}


#signo-menor:hover {
    background-color: var(--secondary-color);
}

#signo-menor:active {
    background-color: var(--primary-color);
}

#signo-mayor:hover {
    background-color: var(--secondary-color);
}

#signo-mayor:active {
    background-color: var(--primary-color);
}

#cantidad {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 154px;

    border: none;
    border-radius: 50px;
    background-color: rgba(168, 143, 107, 0.25);
    font-size: 32px;
    font-weight: 700;
}

#resumen-compra{
    display: flex;
    justify-content: flex-start; 
    gap: 1.5rem;
}

#resumen-compra p{
    display: inline;
}

/* Product Info */

#shopping-cart {
    padding: 0;
    margin: 0;
    width: 110px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: var(--buttons-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

#restablecer-cantidad {
    padding: 0;
    margin: 0;
    width: 78px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: var(--buttons-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}


#shopping-cart svg {
    height: 34px;
    width: 34px;
    fill: var(--black);
}

#shopping-cart:hover, #restablecer-cantidad:hover{
    background-color: var(--secondary-color);
}

#shopping-cart:active, #restablecer-cantidad:active{
    background-color: var(--primary-color);
}

/* Footer */
.footer-pagina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A88F6B;
    padding: 15px;
}
.contenedor-Agroshop p{
    margin: 0%;
    padding: 0%;
}

.redes{
    display: flex;
    padding: 0%;
    margin: 0%;
}

#redesTitulo{
    list-style-type: none;

}

.redes li{
    font-family: "DM sans", sans-serif;
    list-style-type: none;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.redes li a{
    border-radius: 15px;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}


.redes li a:hover{
    background-color: var(--secondary-color);
    color: white;
    transform: scale(1.05);
}

/* Shopping Cart floating button*/

.boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}
  
.boton-flotante:hover {
    background-color: var(--primary-color);
}

.contador-carrito {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    #contenedor-decoracion,
    #contenedor-info {
      width: 100%;
    }
  
    .carrusel {
      max-width: 100%; /* Para que el carrusel no se pase del ancho de pantalla */
      height: auto; /* Ajusta el alto automáticamente o fija un alto menor si quieres */
    }
  
    /*.carrusel-item img {
      height: 300px;
    }*/
  }
  

